<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script type="text/javascript" src="https://vuejs.org/js/vue.js"></script>
        <link rel="stylesheet" href="/assets/css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <component-header></component-header>
            <div class="container">
                <div class="_content">
                    <h1>Record Yourself</h1>
                    <div class="ui accordion">
                        <div class="title">
                            <button id="try" class="ui basic button">Try Now!</button>
                        </div>
                        <div class="content">
                            <form class="ui form transition hidden">
                                <div class="field">
                                    <label>Account</label>
                                    <input type="text" placeholder="account" v-model='account'>
                                    <span class="error_text" v-text="accountError"></span>
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <input type="password" placeholder="password" v-model='password'>
                                    <span class="error_text" v-text="passwordError"></span>
                                </div>
                                <div class="field">
                                    <label>Password Confirm</label>
                                    <input type="password" placeholder="password confirm" v-model='passwordConfirm'>
                                    <span class="error_text" v-text="passwordConfirmError"></span>
                                </div>
                                <button class="ui button" @click='registerSubmit'>Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui modal login_modal">
                <i class="close icon"></i>
                <div class="header">
                    Login
                </div>
                <div class="content">
                    <form class="ui form transition">
                        <div class="field">
                            <label>Account</label>
                            <input type="text" placeholder="account" v-model='login.account'>
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" placeholder="password" v-model='login.password'>
                            <span class="error_text" v-text="login.failMsg"></span>
                        </div>
                        <button class="ui button" @click='loginSubmit'>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

<template id="component_header">
    <div class="header" >
        <div class="ui buttons">
            <button class="ui basic button" @click='registerBtnTrigger'>Register</button>
            <div class="or"></div>
            <button class="ui basic button" @click='loginBtnTrigger'>Sign In</button>
        </div>
    </div>
</template>

<script type="text/javascript" src="/assets/components/component_header.js"></script>
<script type="text/javascript" src="/assets/js/main.js"></script>