@import "compass/css3";

* {
    margin: 0px;
    padding: 0px;
    @include box-sizing(border-box);
}

$winColor: #fc6aa5;
$loseColor: #6F83FA;
$betColor: #72E88A;
$attendanceColor: #E37E52;

$gapWidth: 5px;

@mixin colorStare($level: 10%, $color: black) {
    .child_class {
        $color2: lighten($color, $level);
        & .class_title {
            background-color: $color2;
        }

        $color3: lighten($color2, $level);
        .child_class {
            & .class_title {
                background-color: $color3;
            }

            $color4: lighten($color3, $level);
            .child_class {

                & .class_title {
                    background-color: $color4;
                }
            }
        }
    }
}

.full-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    .pop-up-container {
        position: relative;
        padding: $gapWidth;
        width: 80%;
        max-height: 90%;
        overflow: auto;

        display: inline-block;
        vertical-align: middle;

        background-color: white;

        @include border-radius(5px);

        $item_height: 40px;

        .child_container {
            padding: $gapWidth 0px;
            margin: 0px 0px $gapWidth 0px;
            display: inline-block;
            width: 100%;
            &.chosed {
                border: 3px solid #141414;
            }
        }

        .class_title {
            margin: 0px 0px $gapWidth 0px;
            display: inline-block;

            float: left;

            width: 100%;
            height: $item_height;
            line-height: $item_height;

            font-size: 24px;
            background-color: #4681FF;
            cursor: pointer;
            position: relative;
            @include border-radius(5px);

            &:active {
                @include box-shadow(-5px -5px 20px 0px rgba(120, 120, 120, 0.2) inset);
            }

            &:first-child {
                margin-top: 0px;
            }
            .words {
                width: 100%;
                float: left;
            }
            .input {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 50%;
                padding-right: $gapWidth;
                font-size: 50%;
                display: inline-block;
                float: left;
                overflow: hidden;
                text-align: right;
            }
        }

        .win {
            & .class_title {
                background-color: $winColor;
            }
            @include colorStare(8, $winColor);
        }

        .lose {
            & .class_title {
                background-color: $loseColor;
            }
            @include colorStare(8, $loseColor);
        }

        .bet {
            & .class_title {
                background-color: $betColor;
            }
            @include colorStare(8, $betColor);
        }

        .attendance {
            & .class_title {
                background-color: $attendanceColor;
            }
            @include colorStare(8, $attendanceColor);
        }

        .great_class {
            float: left;
            width: 100%;
            margin: $gapWidth 0px;
        }

        .child_class {
            width: 80%;
            float: left;
        }
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}