/* line 3, ../scss/task.scss */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../scss/task.scss */
.full-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 49, ../scss/task.scss */
.full-mask .pop-up-container {
  position: relative;
  padding: 5px;
  width: 80%;
  max-height: 90%;
  overflow: auto;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 65, ../scss/task.scss */
.full-mask .pop-up-container .child_container {
  padding: 5px 0px;
  margin: 0px 0px 5px 0px;
  display: inline-block;
  width: 100%;
}
/* line 70, ../scss/task.scss */
.full-mask .pop-up-container .child_container.chosed {
  border: 3px solid #141414;
}
/* line 75, ../scss/task.scss */
.full-mask .pop-up-container .class_title {
  margin: 0px 0px 5px 0px;
  display: inline-block;
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  background-color: #4681FF;
  cursor: pointer;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 91, ../scss/task.scss */
.full-mask .pop-up-container .class_title:active {
  -moz-box-shadow: -5px -5px 20px 0px rgba(120, 120, 120, 0.2) inset;
  -webkit-box-shadow: -5px -5px 20px 0px rgba(120, 120, 120, 0.2) inset;
  box-shadow: -5px -5px 20px 0px rgba(120, 120, 120, 0.2) inset;
}
/* line 95, ../scss/task.scss */
.full-mask .pop-up-container .class_title:first-child {
  margin-top: 0px;
}
/* line 98, ../scss/task.scss */
.full-mask .pop-up-container .class_title .words {
  width: 100%;
  float: left;
}
/* line 102, ../scss/task.scss */
.full-mask .pop-up-container .class_title .input {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  padding-right: 5px;
  font-size: 50%;
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: right;
}
/* line 117, ../scss/task.scss */
.full-mask .pop-up-container .win .class_title {
  background-color: #fc6aa5;
}
/* line 19, ../scss/task.scss */
.full-mask .pop-up-container .win .child_class .class_title {
  background-color: #fd92bd;
}
/* line 25, ../scss/task.scss */
.full-mask .pop-up-container .win .child_class .child_class .class_title {
  background-color: #febad5;
}
/* line 32, ../scss/task.scss */
.full-mask .pop-up-container .win .child_class .child_class .child_class .class_title {
  background-color: #fee2ed;
}
/* line 124, ../scss/task.scss */
.full-mask .pop-up-container .lose .class_title {
  background-color: #6F83FA;
}
/* line 19, ../scss/task.scss */
.full-mask .pop-up-container .lose .child_class .class_title {
  background-color: #96a5fb;
}
/* line 25, ../scss/task.scss */
.full-mask .pop-up-container .lose .child_class .child_class .class_title {
  background-color: #bec7fd;
}
/* line 32, ../scss/task.scss */
.full-mask .pop-up-container .lose .child_class .child_class .child_class .class_title {
  background-color: #e5e9fe;
}
/* line 131, ../scss/task.scss */
.full-mask .pop-up-container .bet .class_title {
  background-color: #72E88A;
}
/* line 19, ../scss/task.scss */
.full-mask .pop-up-container .bet .child_class .class_title {
  background-color: #95eea7;
}
/* line 25, ../scss/task.scss */
.full-mask .pop-up-container .bet .child_class .child_class .class_title {
  background-color: #b8f3c4;
}
/* line 32, ../scss/task.scss */
.full-mask .pop-up-container .bet .child_class .child_class .child_class .class_title {
  background-color: #dbf9e1;
}
/* line 138, ../scss/task.scss */
.full-mask .pop-up-container .attendance .class_title {
  background-color: #E37E52;
}
/* line 19, ../scss/task.scss */
.full-mask .pop-up-container .attendance .child_class .class_title {
  background-color: #e99875;
}
/* line 25, ../scss/task.scss */
.full-mask .pop-up-container .attendance .child_class .child_class .class_title {
  background-color: #eeb298;
}
/* line 32, ../scss/task.scss */
.full-mask .pop-up-container .attendance .child_class .child_class .child_class .class_title {
  background-color: #f4cdbb;
}
/* line 144, ../scss/task.scss */
.full-mask .pop-up-container .great_class {
  float: left;
  width: 100%;
  margin: 5px 0px;
}
/* line 150, ../scss/task.scss */
.full-mask .pop-up-container .child_class {
  width: 80%;
  float: left;
}
/* line 156, ../scss/task.scss */
.full-mask:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
