/* line 3, ../scss/timeline.scss */
body {
  width: 100vw;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../scss/timeline.scss */
._container {
  display: inline-block;
  width: 80%;
  text-align: left;
}
/* line 16, ../scss/timeline.scss */
._container .timeline_item {
  margin: 20px 0px;
  width: 90%;
  position: relative;
  float: right;
  -moz-box-shadow: 2px 2px 3px 2px #616161;
  -webkit-box-shadow: 2px 2px 3px 2px #616161;
  box-shadow: 2px 2px 3px 2px #616161;
}
/* line 29, ../scss/timeline.scss */
._container .timeline_item:after, ._container .timeline_item:before, ._container .timeline_item .timeline_date {
  content: "";
  display: block;
  position: absolute;
  left: -5%;
}
/* line 36, ../scss/timeline.scss */
._container .timeline_item .timeline_date {
  top: calc(20% - 3px);
  left: calc(-5% + 12px);
}
/* line 41, ../scss/timeline.scss */
._container .timeline_item:before {
  top: 0px;
  background-color: #616161;
  width: 3px;
  height: calc(100% + 40px);
}
/* line 48, ../scss/timeline.scss */
._container .timeline_item:after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20%;
  left: calc(-5% - 6px);
  border: 3px solid #616161;
  background-color: white;
}
